@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
